<div class="section_offset banners_modules">

    <div class="row">

        <div class="col-sm-4 banners_box bx-left">

            <div class="animated transparent" data-animation="fadeInDown">

                <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
                
                <a href="#" class="banner">
                    <img src="/frontend/images/banner_img_3.jpg" alt="">
                </a>

                <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

            </div><!--/ .animated.transparent-->

        </div><!--/ [col]-->

        <div class="col-sm-4 text-center banners_box">

            <div class="animated transparent" data-animation="fadeInDown" data-animation-delay="150">

                <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                <a href="#" class="banner" style="text-align: center">
                    <img src="/frontend/images/banner_img_4.jpg" alt="">
                </a>

                <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

                <a href="#" class="banner" style="text-align: center">
                    <img src="/frontend/images/banner_img_5.jpg" alt="">
                </a>

                <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

            </div><!--/ .animated.transparent-->

        </div><!--/ [col]-->

        <div class="col-sm-4 text-right banners_box bx-right">

            <div class="animated transparent" data-animation="fadeInDown" data-animation-delay="450">

                <!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->
                
                <a href="#" class="banner" style="text-align: right">
                    <img src="/frontend/images/banner_img_6.jpg" alt="">
                </a>

                <!-- - - - - - - - - - - - - - End banner - - - - - - - - - - - - - - - - -->

            </div><!--/ .animated.transparent-->

        </div><!--/ [col]-->

    </div><!--/ .row-->

</div>