<section class="section_offset">

    <h3>Danh mục</h3>

    <ul class="theme_menu">
        
        <% ArticleCategory.all.each do |category| %>

            <li><%= link_to category.name, { controller: "blog", action: "article_category", article_category_id: category.id } %></li>
        
        <% end %>

    </ul>

</section><!--/ .section_offset -->