<section class="section_offset">

    <h3>Ý kiến gần đây</h3>

    <ul class="recentcomments_list">

        <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

        <li class="recentcomment">
            
            <div class="posted_by">Đăng bởi: <a href="#">admin</a>:</div>

            <a href="#">Lorem ipsum dolor sit amet, con- sectetuer adipis</a>

            <p class="comment">Fusce euismod consequat ante. Lorem ipsum dolor sit amet...</p>

        </li>

        <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Comment - - - - - - - - - - - - - - - - -->

        <li class="recentcomment">
            
            <div class="posted_by">Đăng bởi: <a href="#">admin</a>:</div>

            <a href="#">Neque porro quisquam est, qui</a>

            <p class="comment">Consectetuer adipis. Mauris accumsan nulla vel diam. Sed in...</p>

        </li>

        <!-- - - - - - - - - - - - - - End of comment - - - - - - - - - - - - - - - - -->

    </ul>

</section>