<section class="section_offset">

    <h3>Từ khóa phổ biến</h3>
  
    <div class="tags_container">
  
        <ul class="tags_cloud">
            
            <% if !Article.get_keyword_article.nil? %>
            
                <% Article.get_keyword_article.keywords.each do |item| %>
                                        
                    <li><a href="#" class="button_grey"><%= item.html_safe %></a></li>
                
                <% end %>
            
            <% end %>    
  
        </ul><!--/ .tags_cloud-->
        
    </div><!--/ .tags_container-->

</section>