<section class="section_offset">

    <h3>Viết bình luận</h3>

    <div class="theme_box">

        <form class="type_2">

            <ul>

                <li class="row">
                    
                    <div class="col-sm-6">

                        <label for="lc_name" class="required">Tên</label>
                        <input type="text" name="" id="lc_name">

                    </div>

                    <div class="col-sm-6">

                        <label for="lc_email" class="required">Địa chỉ e-mail</label>
                        <input type="email" name="" id="lc_email">

                    </div>

                </li>

                <li class="row">

                    <div class="col-xs-12">

                        <label for="lc_message">Nội dung</label>
                        <textarea name="" id="lc_message" rows="6"></textarea>

                    </div>

                </li>

            </ul>

        </form>
        
    <button class="button_blue middle_btn alignright" form="leave_comment" type="submit">Đăng bình luận</button>

    </div>

</section>