<section class="section_offset">

    <h3>Đăng ký nhận tin mới</h3>

    <div class="theme_box">
        
        <%= form_for Newsletter.new, html: {class: 'newsletter subscribe clearfix'} do |f| %>

            <%= f.email_field :email, placeholder: 'Nhập email tại đây...', required: true %>
                                
            <button class="button_blue def_icon_btn" type="submit"></button>

        <% end %>

    </div>
    <!--/ .theme_box-->

</section>