<section class="section_offset">

    <h3>Sản phẩm bán chạy</h3>

    <ul class="products_list_widget">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
            
            <a href="#" class="product_thumb">
                
                <img src="/frontend/images/product_thumb_10.jpg" alt="">

            </a>

            <div class="wrapper">

                <a href="#" class="product_title">Integer rutrum ante eu lacus...</a>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><b>$5.99</b></p><br/>

                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                    <ul class="rating alignleft">

                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class=""></li>

                    </ul>
                    
                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                </div>

            </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
            
            <a href="#" class="product_thumb">
                
                <img src="/frontend/images/product_thumb_11.jpg" alt="">

            </a>

            <div class="wrapper">

                <a href="#" class="product_title">Vestibulum ante ipsum primis in...</a>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><b>$5.99</b></p><br/>

                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                    <ul class="rating alignleft">

                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class=""></li>

                    </ul>
                    
                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                </div>

            </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    </ul><!--/ .list_of_products-->

    <footer class="bottom_box">

        <a href="shop_product_comparison.html" class="button_grey middle_btn">Xem toàn bộ</a>

    </footer>

</section>