<section class="section_offset">

    <h3>So sánh sản phẩm</h3>

    <ul class="products_list_widget">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
            
            <a href="#" class="product_thumb">
                
                <img src="/frontend/images/product_thumb_10.jpg" alt="">

            </a>

            <div class="wrapper">

                <a href="#" class="product_title">Diam eu massa quisque donec-...</a>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><s>$29.99</s> <b>$21.99</b></p>

                </div>

            </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
            
            <a href="#" class="product_thumb">
                
                <img src="/frontend/images/product_thumb_11.jpg" alt="">

            </a>

            <div class="wrapper">

                <a href="#" class="product_title">Sed in lacus ut enim adipiscing...</a>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><b>$13.99</b></p>

                </div>

            </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    </ul><!--/ .list_of_products-->

    <footer class="bottom_box">

        <a href="shop_product_comparison.html" class="button_grey middle_btn">Bắt đầu so sánh</a>

    </footer>

</section>