<div class="section_offset">

    <div class="row">

        <div class="col-md-3 col-sm-6">
            
            <section class="infoblock type_2 animated transparent" data-animation="fadeInDown">

                <i class="icon-thumbs-up-1"></i>

                <h4 class="caption"><b>The Highest Product Quality</b></h4>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                <a href="#" class="button_dark_grey middle_btn">Read More</a>

            </section><!--/ .infoblock.type_2-->

        </div><!--/ [col]-->

        <div class="col-md-3 col-sm-6">
            
            <section class="infoblock type_2 animated transparent" data-animation="fadeInDown" data-animation-delay="150">

                <i class="icon-paper-plane"></i>

                <h4 class="caption"><b>Fast &amp; Free Delivery</b></h4>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                <a href="#" class="button_dark_grey middle_btn">Read More</a>

            </section><!--/ .infoblock.type_2-->

        </div><!--/ [col]-->

        <div class="col-md-3 col-sm-6">
            
            <section class="infoblock type_2 animated transparent" data-animation="fadeInDown" data-animation-delay="300">

                <i class="icon-lock"></i>

                <h4 class="caption"><b>Safe &amp; Secure Payment</b></h4>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                <a href="#" class="button_dark_grey middle_btn">Read More</a>

            </section><!--/ .infoblock.type_2-->

        </div><!--/ [col]-->

        <div class="col-md-3 col-sm-6">
            
            <section class="infoblock type_2 animated transparent" data-animation="fadeInDown" data-animation-delay="450">

                <i class="icon-money"></i>

                <h4 class="caption"><b>100% Money Back Guaranteed</b></h4>

                <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</p>

                <a href="#" class="button_dark_grey middle_btn">Read More</a>

            </section><!--/ .infoblock.type_2-->

        </div><!--/ [col]-->

    </div><!--/ .row-->

</div><!--/ .section_offset-->