<div class="col-md-9">

    <div class="animated transparent" data-animation="fadeInDown" data-animation-delay="400">
    
        <!-- - - - - - - - - - - - - - Revolution slider - - - - - - - - - - - - - - - - -->

        <div class="revolution_slider">

            <div class="rev_slider">

                <ul>

                    <!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

                    <li data-transition="papercut" data-slotamount="7">
                        
                        <img src="/frontend/images/home_slide_4.jpg" alt="">

                        <div class="caption sfl stl layer_1" data-x="left" data-hoffset="60" data-y="90" data-easing="easeOutBack" data-speed="600" data-start="900">Best Quality</div>

                        <div class="caption sfl stl layer_2" data-x="left" data-y="138" data-hoffset="60" data-easing="easeOutBack" data-speed="600" data-start="1000">Medications</div>

                        <div class="caption sfl stl layer_3" data-x="left" data-y="190" data-hoffset="60" data-easing="easeOutBack" data-speed="600" data-start="1100">at Low Prices</div>

                        <div class="caption sfb stb" data-x="left" data-y="245" data-hoffset="60" data-easing="easeOutBack" data-speed="700" data-start="1100">
                            <a href="#" class="button_blue big_btn">Shop Now!</a>
                        </div>

                    </li>

                    <!-- - - - - - - - - - - - - - End of Slide 1 - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

                    <li data-transition="papercut" data-slotamount="7" class="align_center">
                        
                        <img src="/frontend/images/home_slide_5.jpg" alt="">

                        <div class="caption sfl stl layer_5" data-x="center" data-y="77" data-easing="easeOutBack" data-speed="600" data-start="900">Have A Question?</div>

                        <div class="caption sfl stl layer_6" data-x="center" data-y="135" data-easing="easeOutBack" data-speed="600" data-start="1050"><small>Our</small> Pharmacists<br><small>Are</small> Ready <small>to</small> Help You!</div>

                        <div class="caption sfb stb" data-x="center" data-y="260" data-easing="easeOutBack" data-speed="700" data-start="1150">
                            <a href="#" class="button_blue big_btn">Contact Us Now!</a>
                        </div>

                    </li>

                    <!-- - - - - - - - - - - - - - End of Slide 2 - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

                    <li data-transition="papercut" data-slotamount="7">
                        
                        <img src="/frontend/images/home_slide_6.jpg" alt="">

                        <div class="caption sfl stl layer_8" data-x="right" data-y="73" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="900">Get 10% Off</div>

                        <div class="caption sfl stl layer_9" data-x="right" data-y="122" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="1000">For Reorders</div>

                        <div class="caption sfl stl layer_10" data-x="right" data-y="178" data-hoffset="-60" data-easing="easeOutBack" data-speed="600" data-start="1100">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</div>

                        <div class="caption sfb stb" data-x="right" data-hoffset="-60" data-y="262" data-easing="easeOutBack" data-speed="700" data-start="1150">
                            <a href="#" class="button_blue big_btn">Read More</a>
                        </div>

                    </li>

                    <!-- - - - - - - - - - - - - - End of Slide 3 - - - - - - - - - - - - - - - - -->

                </ul>

            </div><!--/ .rev_slider-->

        </div><!--/ .revolution_slider-->
        
        <!-- - - - - - - - - - - - - - End of Revolution slider - - - - - - - - - - - - - - - - -->

    </div><!--/ .animated.transparent-->

</div><!--/ [col]-->