    <div class="main_menu_right">
        <h3>
            <a href="#">Khuyến mãi</a>
        </h3>
        <h3>
            <a href="#">Nổi bật</a>
        </h3>
        <h3>
            <a href="#">Hàng bán chạy</a>
        </h3>
        <h3>
            <a href="#">Sản phẩm mới</a>
        </h3>
        <h3>
            <a href="#">Hàng nhập khẩu</a>
        </h3>
    </div>