<h3>Tài khoản</h3>
<div class="list-group box">
    <a href="<%= url_for({controller: 'account', action: 'login'}) %>" class="list-group-item dark_hover">Đăng nhập</a> 
    <a href="<%= url_for({controller: 'account', action: 'register'}) %>" class="list-group-item dark_hover">Đăng ký</a> 
    <a href="<%= url_for({controller: 'account', action: 'forgotten'}) %>" class="list-group-item dark_hover">Quên mật khẩu</a>
</div>