<section class="section_offset">

    <h3>Bài viết liên quan</h3>

    <div class="owl_carousel widgets_carousel">

        <ul class="products_list_widget">
            
            <% @product.articles.each_with_index do |item, index| %>

                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
    
                <li>
                    
                    <%= link_to image_tag(item.image_url.small_image), { controller: "blog", action: "show", blog_id: item.id }, class: "product_thumb", title: item.title %>
    
                    <div class="wrapper">
    
                        <%= link_to truncate(strip_tags(item.title), length: 30), { controller: "blog", action: "show", blog_id: item.id }, class: "product_title", title: item.title %>
    
                    </div>
    
                </li>
    
                <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <%= "</ul><!--/ .list_of_products--> <ul class='products_list_widget'>".html_safe if index%3 == 2 %>
                 
            <% end %>

    </div>

</section>