<section class="section_offset">

    <h3 class="offset_title">Ý kiến khách hàng</h3>

    <!-- - - - - - - - - - - - - - Carousel of testimonials - - - - - - - - - - - - - - - - -->

    <div class="owl_carousel widgets_carousel">
        
        <% Testimonial.get_all_testimonials.each do |item| %>

            <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->
    
            <blockquote>
    
                <div class="author_info"><b><%= item.name %>, <%= item.city %></b></div>
    
                <p class="text-justify"><%= truncate(strip_tags(item.content), length: 50) %></p>
    
            </blockquote>
            
            <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

        <% end %>

    </div><!--/ .widgets_carousel-->

    <!-- - - - - - - - - - - - - - End of carousel of testimonials - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - View all testimonials - - - - - - - - - - - - - - - - -->

    <footer class="bottom_box">
        
        <%= link_to "Xem tất cả", { controller: "product", action: "testimonial" }, class: "button_grey middle_btn" %>

    </footer>

    <!-- - - - - - - - - - - - - - End of view all testimonials - - - - - - - - - - - - - - - - -->

</section><!--/ .section_offset.animated.transparent-->