<!-- - - - - - - - - - - - - - Today's deals - - - - - - - - - - - - - - - - -->

<section class="section_offset">

    <h3 class="widget_title offset_title">Khuyến mãi trong ngày</h3>

    <div class="owl_carousel widgets_carousel">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <div class="theme_box clearfix">

            <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

            <div class="single_product">

                <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

                <div class="image_preview_container">

                    <img src="/frontend/images/qv_img_1.jpg" alt="">

                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                    <div class="label_offer percentage">

                        <div>30%</div>OFF

                    </div>

                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                </div><!--/ .image_preview_container-->

                <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

                <div class="countdown" data-year="2016" data-month="11" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>

                <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

            <div class="single_product_description">

                <h3 class="offset_title"><a href="#">Vestibulum ante, Original 24 fl oz</a></h3>

                <div class="description_section v_centered">

                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                
                    <ul class="rating">

                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>

                    </ul>
                        
                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                    <ul class="topbar">

                        <li><a href="#">3 Review(s)</a></li>
                        <li><a href="#">Add Your Review</a></li>

                    </ul>

                    <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

                </div>

                <div class="description_section">

                    <table class="product_info">

                        <tbody>

                            <tr>

                                <td>Manufacturer: </td>
                                <td><a href="#">Chanel</a></td>

                            </tr>

                            <tr>

                                <td>Availability: </td>
                                <td><span class="in_stock">in stock</span> 20 item(s)</td>

                            </tr>

                            <tr>

                                <td>Product Code: </td>
                                <td>PS06</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <hr>

                <div class="description_section">

                    <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

                </div>

                <div class="description_section">

                    <div class="table_wrap product_price_table">

                        <table>
                            
                            <tbody>

                                <tr>
                                    
                                    <td class="special_price">
                                        
                                        Special Price:

                                        <div class="price">$5.99</div>

                                    </td>

                                    <td class="old_price">
                                        
                                        Old Price:

                                        <div class="price">$9.99</div>

                                    </td>

                                    <td class="save">
                                        
                                        You Save:

                                        <div class="price">$4.00</div>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>
                    
                    <p class="hurry_message"><span>Hurry! Only 20 item(s) left!</span> 17 item(s) already purchased</p>

                </div>

                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                <div class="buttons_row">

                    <button class="button_blue middle_btn">Thêm giỏ hàng</button>

                    <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip top">Thêm vào mục yêu thích</span></button>

                    <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip top">Thêm vào danh mục so sánh</span></button>

                </div>

                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <div class="theme_box clearfix">

            <!-- - - - - - - - - - - - - - Product image column - - - - - - - - - - - - - - - - -->

            <div class="single_product">

                <!-- - - - - - - - - - - - - - Image preview container - - - - - - - - - - - - - - - - -->

                <div class="image_preview_container">

                    <img src="/frontend/images/qv_img_2.jpg" alt="">

                    <!-- - - - - - - - - - - - - - Label - - - - - - - - - - - - - - - - -->

                    <div class="label_offer percentage">

                        <div>30%</div>OFF

                    </div>

                    <!-- - - - - - - - - - - - - - End label - - - - - - - - - - - - - - - - -->

                </div><!--/ .image_preview_container-->

                <!-- - - - - - - - - - - - - - End of image preview container - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Countdown - - - - - - - - - - - - - - - - -->

                <div class="countdown" data-year="2016" data-month="11" data-day="6" data-hours="15" data-minutes="0" data-seconds="0"></div>

                <!-- - - - - - - - - - - - - - End countdown - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - End of product image column - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product description column - - - - - - - - - - - - - - - - -->

            <div class="single_product_description">

                <h3 class="offset_title"><a href="#">Sed perspiciatis, Original 24 fl oz</a></h3>

                <div class="description_section v_centered">

                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->
                
                    <ul class="rating">

                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>

                    </ul>
                        
                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Reviews menu - - - - - - - - - - - - - - - - -->

                    <ul class="topbar">

                        <li><a href="#">3 Review(s)</a></li>
                        <li><a href="#">Add Your Review</a></li>

                    </ul>

                    <!-- - - - - - - - - - - - - - End of reviews menu - - - - - - - - - - - - - - - - -->

                </div>

                <div class="description_section">

                    <table class="product_info">

                        <tbody>

                            <tr>

                                <td>Manufacturer: </td>
                                <td><a href="#">Chanel</a></td>

                            </tr>

                            <tr>

                                <td>Availability: </td>
                                <td><span class="in_stock">in stock</span> 20 item(s)</td>

                            </tr>

                            <tr>

                                <td>Product Code: </td>
                                <td>PS06</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

                <hr>

                <div class="description_section">

                    <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

                </div>

                <div class="description_section">

                    <div class="table_wrap product_price_table">

                        <table>
                            
                            <tbody>

                                <tr>
                                    
                                    <td class="special_price">
                                        
                                        Special Price:

                                        <div class="price">$5.99</div>

                                    </td>

                                    <td class="old_price">
                                        
                                        Old Price:

                                        <div class="price">$9.99</div>

                                    </td>

                                    <td class="save">
                                        
                                        You Save:

                                        <div class="price">$4.00</div>

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>
                    
                    <p class="hurry_message"><span>Hurry! Only 20 item(s) left!</span> 17 item(s) already purchased</p>

                </div>

                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                <div class="buttons_row">

                    <button class="button_blue middle_btn">Thêm giỏ hàng</button>

                    <button class="button_dark_grey def_icon_btn middle_btn add_to_wishlist tooltip_container"><span class="tooltip top">Thêm vào mục yêu thích</span></button>

                    <button class="button_dark_grey def_icon_btn middle_btn add_to_compare tooltip_container"><span class="tooltip top">Thêm vào danh mục so sánh</span></button>

                </div>

                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

            </div>

            <!-- - - - - - - - - - - - - - End of product description column - - - - - - - - - - - - - - - - -->

        </div>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    </div>

    <footer class="bottom_box">

        <a href="#" class="button_grey middle_btn">Xem thêm</a>

    </footer>

</section>

<!-- - - - - - - - - - - - - - End of today's deals - - - - - - - - - - - - - - - - -->