                            <%= form_tag({controller: "product", action: "search"}, method: "get", class: "clearfix search") do %>
                              
                                   <input type="text" name="keyword" tabindex="1" value="<%= params[:keyword] if params[:keyword].present? %>" placeholder="Tìm kiếm sản phẩm..." class="alignleft before_search">
                                   
                                   <button class="button_blue def_icon_btn alignleft search_button_top before_search"></button>
                                
                                <!-- - - - - - - - - - - - - - Categories - - - - - - - - - - - - - - - - -->
    
                                <div class="search_category alignleft after_search">
                                    
                                     <div class="search_category_box">
                                        <h4><i class="fa fa-map-marker"></i> <span class="area_current"><%= @current_area.name %></span></h4>
                                        <input type="hidden" name="area_id" />
                                        <div class="area_menus_box" style="display: none">
                                             <ul>
                                                 <li value="">
                                                     <a href="">Đang tải khu vực</a>
                                                 </li>
                                             </ul>
                                        </div>
    
                                    </div><!--/ .custom_select -->
    
                                </div><!--/ .search_category.alignleft-->
    
                                <!-- - - - - - - - - - - - - - End of categories - - - - - - - - - - - - - - - - -->
    
                                
    
                            <% end %><!--/ #search-->