<div class="footer text-muted">
    Bản quyền &copy; 2016. <%= link_to 'Website thương mại "Đặc sản vùng miền"', root_path, target: "_blank" %><br/>
    Thiết kế bởi <%= link_to "Hoàng Khang Incotech", "http://hoangkhang.com.vn/home/", target: "_blank" %>
</div>