.tweets_span {
    font-size: 13px;
    display: block;
    margin-top: 10px;
    color: #333333;
}
.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-justify {
    text-align: justify;
}
.add_to_question::after {
    content: '\f059';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
}
.fa-refresh:before {
    font-size: 14px;
    line-height: 28px;
}
.image_centered {
    max-height: 245px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
.pagination > li{ float: left; }
.pagination > li:first-child > span{ border-radius: 3px 0 0 3px; }
.pagination > li:first-child > span::before {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 13px;
    font-family: 'fontello';	
}
.pagination > li > a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.pagination > li > span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.pagination > li.disabled {
    display: none;
}
.pagination > li.prev,
.pagination > li.prev > a {
    border-radius: 3px 0 0 3px;
}
.pagination > li.next,
.pagination > li.next > a {
    border-radius: 0 3px 3px 0;
}
.pagination > li.active > span,
.pagination > li > a:hover{
    color: #fff;
    background: #4ac4fa;
    border-color: #4ac4fa;
}
.select_header {
    padding: 9.5px 8px !important;
}
.search_category {
    border-top: 1px solid #4ac4fa;
    border-botton: 1px solid #4ac4fa;
}
.select_header {
    height: 40px;
}
.contact-line {
    margin-bottom: 30px;
}
.not_found_404 {
    font-size: 72px;
}
.not_found {
    font-size: 22px;
}
.min {
    width: 92px;
    text-align: left;
}
.qty_input {
    width: 50px !important;
    text-align: left;
}
.product_title_col {
    width: 26.35% !important;
}
.product_manufacturer_col {
    width: 170px;
}
.product_qty_col {
    width: 97px;
}
.align_shopping_cart {
    width: 115% !important;
}
.action_checkout {
    white-space: nowrap;
}
.refresh_checkout {
    margin-left: 6px;
    padding-top: 5px;
    margin-top: 3px;
}
.fa-refresh-checkout:before {
    line-height: 20px !important;
}
.remove_checkout {
    margin-top: 3px;
}
#voucher-heading, #coupon-heading, #reward-heading {
    cursor: pointer;
    width: 100%;
    padding: 12px 19px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    background: #f8f8f8;
    border-radius: 3px;
}
#voucher-content input[type='text'], #coupon-content input[type='text'], #reward-content input[type='text'] {
    max-width: 200px;
}
input[type='text'], input[type='password'], input[type='email'], input[type='tel'], select.form-control, select {
    height: 38px;
}
#coupon-content {
    margin-bottom: 15px;
}
.padded li.row {
    margin-bottom: 10px;
}
.theme_menu > li > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 14px;
    border-radius: 0;
    border-width: 0;
}
form:not(.type_2) label {
    width: 170px;
}
form:not(.type_2) .form_el {
    width: calc(100% - 170px);
}
.v_centered > *:not(:first-child) {
    margin-left: 5px;
}
input:not([type="submit"]), textarea, .active_option {
    color: #777777;
}
form ul > li:not(:last-child) {
    margin-bottom: 10px;
}
.quick_create_user_box  li.row {
    margin-bottom: 10px;
}
.quick_create_user_box  li.row:last-child {
    margin-bottom: 30px;
}
#qLoverlay {
    display: none !important;
}
.add_to_cart_category {
    margin-top: 5px;
}
.infoblock.type_2 .caption {
    padding: 8px;
}
.search > * {
    border-left: 2px solid #4ac4fa !important;
}
.header_top {
    padding-top: 10px;
}
.total_info [class*="price"] {
    width: 100px;
}
@media only screen and (max-height: 900px) {    
    .social_feeds {
        top: 130px;
    }
}
input[type="radio"] + label::before {
    background: #E8E8E8;
}
.small_add_cart_button {
    padding: 5px 11px 4px;
}
.add_cart_success {
    display: none;
}
.add_wishlist_success {
    display: none;
}
.add_compare_success {
    display: none;
}
.no_singed {
    display: none;
}
.user_input {
	height: auto;
	min-height: 35px;
}
.user_input input.error, .user_input textarea.error {
	border-color: red;
}
.sticky_part.sticky .header_logo {
    height: 80px;
}
.header_logo .logo img {
    width: 200px;
}
.sticky_part.sticky .logo {
    overflow: hidden;
    height: 72px;
}
.sticky_part.sticky .logo > img {
    width: 224px;
    margin-top: -11px;
}
.company_info {
    margin-bottom: 20px;
}
.company_name {
    margin-bottom: 7px !important;
}
.footer_section_3 {
    padding-top: 10px;
}

#new_order .error {
	border-color: red;
}
#new_comment_article .error {
    border-color: red;
}
#new_user .error {
    border-color: red;
}
#new_question .error {
    border-color: red;
}
#new_comment .error {
    border-color: red;
}
#new_contact .error {
    border-color: red;
}
#new_contact_form .error {
    border-color: red;
}
#new_testimonial .error{
    border-color: red;
}
label.error {
	display: none !important;
}
.theme_menu > li > a {
    position: relative;
    display: block;
    background: #fff;
    border: 1px solid #eaeaea;
    padding: 11px 40px 10px 19px;
}
.tooltip_container .tooltip {
    background: #7ad04d;
}
.tooltip.top::before {
    border-top: 7px solid #7ad04d;
}
.tooltip.left::before {
    border-left: 7px solid #7ad04d;
}
.tooltip.right::before {
    border-right: 7px solid #7ad04d;
}
.mrg-top {
    margin-top: 20px;
}
.mrg-show-category {
    margin-right: 10px;
}
.single_product_description .product_price {
    float: left;
    margin-top: 10px;
}
.description_section_2:not(:last-child) {
    float: left;
    margin-left: 55px;
}
.single_product_description .buttons_row {
    clear: both;
}
ul > li > .def_icon_btn.middle_btn {
    width: 30px;
    height: 30px;
}
.rate {
    margin-top: 5px;
    margin-right: 10px;
}
.topbar > .rate:not(:last-child)::after, .bottombar > li:not(:last-child)::after {
    content: none;
}
.button_buy_now {
    color: #fff;
    background-color: #ff6550;
    border-color: #ff6550;
    border-radius: 3px;
}
.button_buy_now:hover {
    color: #fff;
    background-color: #eb5b4c;
    border-color: #eb5b4c;
    border-radius: 3px;
}
/*.actions_wrap > .centered_buttons_category {
    width: 28%;
}*/
/*a.add_to_cart_button {
    display: inline-block !important;
}*/
.color_red {
    background-color: red;
}
.color_orange {
    background-color: orange;
}
.color_facebook {
    background-color: #103480;
}
.button_blue {
    background-color: #428bca;
}
.button_blue:hover {
    color: #fff;
    background: #4ac4fa;
    border-color: #4ac4fa;
}
.topbar > li:not(:last-child)::after, .bottombar > li:not(:last-child)::after {
    color: black;
}
.main_menu {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.categories_module h3 {
    font-size: 17px;
    margin-bottom: 10px;
}
.main_menu_right h3 {
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 15px;
}
.header_top.bottom_part {
    padding-bottom: 20px;
}
.secondary_page_wrapper {
    padding-top: 10px;
}
.breadcrumbs {
    margin-bottom: 10px;
}
.page_with_main_nav .page_wrapper, .page_with_main_nav .secondary_page_wrapper {
    padding-top: 0px;
}
.page_with_main_nav .secondary_page_wrapper main {

}
.mrg-top-35 {
    margin-top: 35px;
}
.revolution_slider {
}
.page_with_main_nav .header_top.bottom_part {
    padding-bottom: 50px;
}
.categories_module h3 {
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: -35px;
}
.main_menu_right {
    margin-top: -24px;
    height: 25px;
    margin-bottom: 15px;
}
.page_with_main_nav .breadcrumbs {
    margin-bottom: 25px;
}
/*.main_cat_menu.theme_menu > li > a {
    border: 0;
    border-radius: 0;
    color: #fff;
    background: #3a4950;
}*/
/*.main_cat_menu .mega_menu {
    margin-left: 0;
}
.main_cat_menu > li:hover > a,
.main_cat_menu > .current > a,
.main_cat_menu > .tablet_active > a,
.main_cat_menu > .mobile_active > a{
    color: #fff;
    background: #018bc8;
    border-color: #018bc8;
}*/
.search_category_box h4{
    margin: 0;
    padding: 13px 10px 8px 10px;
    height: 42px;
    font-size: 16px;
}
.search_category_box h4::after {
    content: '\e8c8';
    right: 18px;
    font-family: 'fontello';
    position: absolute;
    top: 58%;
    color: #b2b2b2;
    margin-top: -10px;
}
.search_category_box ul {
    border: solid 1px #428bca;
    background: #fff;
    width: 128%;
    position: absolute;
    height: 300px;
    margin-left: -1px;
    overflow: auto;
}
.search_category_box ul li {
    margin: 0;
}
form ul > li:not(:last-child) {
    margin-bottom: 0;
}
.search_category_box ul li a {
    display: block;
    padding: 10px 10px;
    border-bottom: solid 1px #eee;
}
.search_category_box ul li a.level-2 {
    font-weight: bold;
    background: #f8f8f8;
}
.search_category_box ul li a.level-3 {
    padding-left: 30px;
}
.search > * {
    border-width: 1px !important;
    border-color: #018bc8 !important;
}
.search > input {
    border-right-width: 0 !important;
}
.search_category_box ul li a:hover {
    background: #efefef;
    color: #333;
}
#open_shopping_cart::before {
    color: #018bc8;
}
.small_link > [class|="icon"] {
    color: #018bc8;
}
/*.search .button_blue {
    background-color: #498ba4;
}*/
.mrg-button-contact {
    margin-top: 20px;
}
.message-label-contact {
    margin-top: 5px;
}
.table_layout_fix {
    width: calc(100% + 0px) !important;
}
.box_fix {
    border-top: 1px solid #eaeaea;
}
/*.boder-left {
    border-left: 1px solid #eaeaea;
}*/
.search .def_icon_btn {
    border-radius: 0 3px 3px 0;
    margin-right: 10px;
}
.search input {
    width: calc(100% - 245px);
}
.newsletter > button, .search > *:last-child {
    border-radius: 3px;
}
.search_category {
    width: 185px;
}
.line_product_info {
    width: 40%;
}
.menu-categories-contact {
    z-index: 110;
}
.content-contact {
    z-index: 109;
}
.zoomContainer {
    z-index: 100;
}
@media (min-width: 1360px) {
    .container {
        width: 1280px;
    }
}
#open_shopping_cart .total_price {
    font-size: 16px;
}
.border-top {
    border-top: 1px solid #eaeaea;
}
.btn_add_to_cart_list_view {
    font-size: 16px;
}
.actions {
    width: 185px !important;
}
.icon_link_fix > i[class|="icon"] {
    margin-right: 0px;
}
.icon_red {
    color: red !important;
}
.icon_orange {
    color: orange !important;
}
p.text-justifly {
    text-align: justify;
}
.recaptcha_contact {
    margin-top: 20px;
}
.warning_contact {
    margin-bottom: 20px;
}
.main_slider {
    margin-top: -15px;
}
.current_area_size {
    color: #777;
    font-size: 18px;
}
.current_area_size_category {
    font-size: 30px;
    color: #777;
}
.name_area_footer {
    margin-top: 20px;
}
.current_area_size {
    white-space: nowrap;
}
.main_cat_menu.theme_menu > li > a {
    font-size: 16px;
    padding: 8px 15px;
}
.rev_slider {
    height: 380px !important;
}