.mobile_element {
    display: none;
}
@media (max-width: 767px) {
    .header_top {
        display: none;
    }
    .mobile_element {
        display: block;
    }
    .mobile_header {
        padding: 15px;
    }
    .mobile_footer {
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 1000;
        bottom: 0;
        padding: 7px 10px;
        border-top: solid 1px #ddd;
    }
    .categories_module h3 {
        margin-top: 5px;
    }
    .ajax_shopping_carts {
        width: 100%;
    }
    .shop_links_list {
        display: none;
    }
    .mobile_top_cart_icon::after {
        content: '\eb0c';
    }
    .top_mobile_button {
        padding: 8px 3px;
        font-size: 21px;
        background: #498ba4;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 3px;
        float: right;
        display: inline-block;
        margin-left: 5px;
    }
    .top_mobile_button.menu_chat {
        background: #69d23a;
    }
    .top_mobile_button.main_menu {
        color: #dba820;
        background: #fff;
        padding: 6px 0px;
        border: solid 2px #dba820;
    }
    .top_mobile_button:hover {
        color: #fff;
        opacity: 0.8;
    }
    .top_mobile_button.main_menu:hover {
        opacity: 0.8;
        color: #dba820;
    }
    .top_mobile_button i {
        
    }
    .mobile_top_menu {
        display: block;
    }
    .mobile_top_menu ul.topbar_mobile {
        border: solid 1px #ddd;
        border-radius: 3px;
        z-index: 200;
        margin-top: 34px;
        width: 140%;
        right: 15px;
        position: absolute;
    }
    .mobile_top_menu ul li {
        
    }
    .mobile_top_menu ul li a {
        display: block;
        padding: 8px 15px;
        background: #fff;
        border-bottom: solid 1px #ddd;
        font-weight: 700;
    }
    .mobile_top_menu ul li a.no_singed {
        display: block;
        padding: 20px 45px;
        background: #4AC8FA;
        border-bottom: solid 1px #ddd;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
    }
    .mobile_top_menu ul li a:hover {
        color: #333;
        background: #f8f8f8;
    }
    .mobile_top_menu ul li ul li a {
        padding-left: 30px;
        font-weight: normal;
    }
    .mobile_header .logo img {
        height: 60px;
    }
    .main_menu_right {
        display: none;
    }
    .customer_care_box h5 {
        clear: both;
        padding-top: 10px;
        text-align: right;
        font-size: 13px;
        margin: 0;
        white-space: nowrap;
    }
    .customer_care_box .menu_container ul.topbar_mobile {
        margin-top: 5px;
    }
    .top_mobile_button .badge-info {
        position: absolute;
        text-align: center;
        top: -12px;
        margin-left: -3px;
        width: 35px;
    }
    .top_mobile_button .badge-info number {
        background: red;
        font-size: 11px;
        padding: 4px 5px;
        display: inline-block;
        line-height: 11px;
        border-radius: 20px;
    }
    .mobile_footer .top_mobile_button {
        position: absolute;
        margin-left: 0;
        padding: 11px 8px;
        width: 44px;
        font-size: 21px;
        height: 44px;
    }
    .mobile_footer .before_search {
        display: none;
    }
    .search input {
        width: calc(100% - 105px);
    }
    .mobile_footer .search_category {
        float: right;
    }
    .mobile_footer .menu_search_close {
        right: 20px;
    }
    .search_category_box ul {
        bottom: 42px;
        right: -1px;
        width: calc(100% + 2px);
    }
    .search_category {
        width: calc(100% - 50px) !important;
    }
    .breadcrumbs {
        margin-top: 15px;
    }
    .single_product_description .product_price {
        font-size: 20px;
    }
    .home_main_slider {
        margin-top: 35px;
    }
    .home_top_categories {
        padding: 0;
    }
    .home_top_categories {
        margin-top: 30px;
    }
    .home_infoblocks {
        margin-top: 50px;
    }
    .page_wrapper {
        padding-bottom: 0;
    }
    .footer_section.section_1 {
        display: none;
    }
    #footer .row [class*="col-"]:not(:first-child) {
        margin-top: 0px;
    }
    [class*="page_wrapper"] .row [class*="col-"]:not(:first-child) {
        margin-top: 0px;
    }
    .footer_second_row {
        margin-top: 30px !important;
    }
    /*#footer .row [class*="col-"]:nth-child(3) {
        clear: both;
        margin-top: 30px;
    }
    #footer .row [class*="col-"]:nth-child(4) {
        margin-top: 20px;
    }*/
    .footer_section {
        background: #444;
        color: #fff;
    }
    .footer_section a, .footer_section h4 {
        color: #eee;        
    }
    .footer_section ul.list_of_links li a {
        border-color: #666;
    }
    .footer_section {
        padding-top: 25px;
        display: none;
    }
    .front_page #footer {
        padding-bottom: 50px;
    }
    #footer {
        /*margin-top: 20px;*/
    }
    .infoblock.type_2 .caption {
        line-height: 16px;
        height: 45px;
    }
    .row .home_intro_box:nth-child(3), .home_intro_box:nth-child(4), .home_intro_box:nth-child(5), .home_intro_box:nth-child(6)  {
        margin-top: 30px !important;
    }
    .infoblock.type_2 i[class|="icon"] {
        font-size: 28px;
        margin-bottom: 5px;
    }
    .infoblock h5 {
        font-size: 13px;
        line-height: 16px;
    }
    .infoblock.type_2 [class*="button"] {
        margin-top: 15px;
        padding: 5px 10px;
    }
    .infoblock.type_2 {
        padding: 10px 10px;
    }
    #footer .payments {
        display: none;
    }
    #footer {
        background: #444;
        color: #eee;
    }
    #footer * {
        color: #eee;
    }
    .unread_conversation a {
        background: #f5f5f5 !important;
    }
    .mobile_container_socical_feeds {
        display: block;
    }
    .mobile_container_socical_feeds section ul.social_btns {
        margin-top: 5px;
    }
    .section_offset:not(:last-child) {
        margin-bottom: 10px;
    }
    .mobile_container_socical_feeds {
        position: relative;
    }
    .mobile_container_socical_feeds .social_btns {
        text-align: center;
    }
    .mobile_container_socical_feeds .social_btns li {
        display: inline;
        float: none;
    }
    .mobile_container_socical_feeds .section_follow_facebook,
    .mobile_container_socical_feeds .section_follow_googleplus,
    .mobile_container_socical_feeds .section_follow_contact,
    .mobile_container_socical_feeds .section_follow_gmap {
        position: absolute;
        background: #fff;
        border: solid 1px #ddd;
        bottom: 45px;
        padding: 10px;
        z-index: 1000;
        width: 90%;
    }
    .mobile_container_socical_feeds .section_follow_gmap {
        bottom: 55px;
    }
    .categories_module {
        display: none;
    }
    .categories_products_home_tabs_container .tab_containers_wrap {
        visibility: hidden;
    }
    .main_slider.transparent, .main_slider.transparent * {
        visibility: hidden !important;
    }
}