@media only screen and (max-width: 480px) {
    .theme_box {
        padding: 60px 19px;
    }
    .rc-anchor-normal {
        width: 250px;
    }
    .rc-anchor-normal .rc-anchor-content {
        width: 160px;
    }
    .rc-anchor-error-message {
        font-size: 12px !important;
    }
    .rc-anchor-center-container {
        width: 85%;
    }
    /*.rc-anchor-logo-portrait {
        margin: 0 !important;
    }*/
    .rc-anchor-logo-portrait {
        margin: 0;
        width: 58px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}