<section class="col-sm-4">

    <h3>Ước tính chi phí giao hàng và thuế</h3>

    <div class="theme_box">

        <p class="form_caption">Chọn địa chỉ của bạn vào bên dưới:</p>

        <form id="estimate_shipping" class="type_2">

            <ul>

                <li class="row">
                    
                    <div class="col-xs-12">

                        <label>Tỉnh/Thành/Khu vực</label>

                        <div class="">

                            <select>
                                
                                <% Area.where(level: 2).each do |item| %>
                        
                                    <option value="<%= item.id %>" class="list_category_option"><%= item.name %></option>
                                    
                                    <% item.children.each do |child| %>
                                        
                                        <option value="<%= child.id %>" class="list_category_option">-- <%= child.name %></option>
                                                                                   
                                    <% end %>
                                                                               
                                <% end %>
                                
                            </select>

                        </div>

                    </div>

                </li>

            </ul>

        </form>

    </div><!--/ .theme_box -->

    <footer class="bottom_box">

        <button type="submit" form="estimate_shipping" class="button_grey middle_btn">Nhận báo giá</button>

    </footer><!--/ .bottom_box -->

</section><!--/ [col] -->