.text-justify {
	text-align: justify;
}
.nav-4 .top-search a {
	width: 85px;
}
.search-box input[type=text] {
	width: 313px;
}
.search-box input[type=submit] {
	width: 85px;
}
.masonry .post-content p {
	max-height: 72px;
}
#contact_form_validate input.error, #contact_form_validate textarea.error {
	border-color: red;
	border-radius: 3px;
}
label.error {
	display: none !important;
}
.cform input, .cform textarea {
    border-radius: 3px;
}
ul.pagination li.disabled, ul.pagination li.active {
	background-color: #e7512f;
    color: #fff;
}
.pager ul.pagination li.active span, .pager ul.pagination li.disabled span {
	display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
}
.pager ul.pagination li.disabled span {
	display: none;
}
ul.pagination li {
	padding: 0;
    list-style: none;
}
.news-masnory .post-info h2 {
	height: 25px;
	margin-right: 10px;
}
.news-masnory .post-content p {
	margin-right: 10px;
	max-height: 65px;
}
.news-site .news-masnory {
	padding-bottom: 15px;
}
.widget h4 {
	height: 24px !important;
}