<section class="section_offset">

    <h3 class="offset_title">Chứng nhận</h3>

    <!-- - - - - - - - - - - - - - Carousel of testimonials - - - - - - - - - - - - - - - - -->

    <div class="owl_carousel widgets_carousel">

        <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

        <blockquote>

            <div class="author_info"><b>Alan, Los Angeles</b></div>

            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

        </blockquote>
        
        <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

        <blockquote>

            <div class="author_info"><b>Tracy, New York</b></div>

            <p>Donec sit amet eros. Lorem ipsum dolor sit amet elit. Mauris amet fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget.</p>

        </blockquote>

        <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - -->

        <blockquote>

            <div class="author_info"><b>Nikki, Boston</b></div>

            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus elefiend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p>

        </blockquote>
        
        <!-- - - - - - - - - - - - - - End testimonial - - - - - - - - - - - - - - - - -->

    </div><!--/ .widgets_carousel-->

    <!-- - - - - - - - - - - - - - End of carousel of testimonials - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - View all testimonials - - - - - - - - - - - - - - - - -->

    <footer class="bottom_box">

        <a href="#" class="button_grey middle_btn">Xem tất cả</a>

    </footer>

    <!-- - - - - - - - - - - - - - End of view all testimonials - - - - - - - - - - - - - - - - -->

</section><!--/ .section_offset.animated.transparent-->