<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">

    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper">
        <div class="page-title title-1">
            <div class="container">
                <div class="row">
                    <div class="cell-12">
                        <h1 class="fx" data-animate="fadeInLeft">PHẬT PHÁP</h1>
                        <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                            <%= link_to "Trang Chủ", home_path %><span class="line-separate">/</span><span>Phật Pháp</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sectionWrapper">
            <div class="container">
                <div class="row">
                    <div class="masonry nobar">
                        
                        <div class="blog-posts">
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Sound</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, mi. Proin viverra leo ut odio. Curabitur eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Nam mi. Proin viverra leo. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget. Nam mi. Proin viverra leo ut odio. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam viverra leo ut odio. Curabitur malesuada. ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                            
                            <div class="post-item fx" data-animate="fadeInLeft">
                                <div class="post-image">
                                    <a href="blog-single.html">
                                        <div class="mask"></div>
                                        <div class="post-lft-info">
                                            <div class="main-bg">15<br>Jan<br>2014</div>
                                        </div>
                                        <img src="/frontend/images/blog/masonry/1.jpg" alt="Our Blog post image goes here">
                                    </a>
                                </div>
                                <article class="post-content">
                                    <div class="post-info-container">
                                        <div class="post-info">
                                            <h2><a class="main-color" href="blog-single.html">Blog post title with Image</a></h2>
                                            <ul class="post-meta">
                                                <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                                <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                                <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vestibulum a velit eu ante scelerisque vulputate.Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisierra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate. <a class="read-more" href="blog-single.html">
                                    Read more</a> </p>
                                </article>
                            </div>
                                                            
                            <div class="pager skew-25">
                                <ul>
                                    <li><a class="skew25" href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="selected"><span class="skew25">1</span></li>
                                    <li><a class="skew25" href="#">2</a></li>
                                    <li><a class="skew25" href="#">3</a></li>
                                    <li><a class="skew25" href="#">4</a></li>
                                    <li><a class="skew25" href="#">5</a></li>
                                    <li><span class="skew25">...</span></li>
                                    <li><a class="skew25" href="#">10</a></li>
                                    <li><a class="skew25" href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    
</div>


<%= render "/home/js_files" %>