<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">

    <li><%= link_to "Trang Chủ", home_path, class: "home" %></li>

    <li><a class="food" href="">Phật Sự</a></li>

    <li class="drop"><a class="world" href="">Phật Pháp</a>
      
      <ul class="dropdown">
        <li><a href="">Bước Đầu Học Phật</a></li>
        <li><a href="">Giáo Pháp</a></li>
        <li><a href="">Tịnh Độ Tông</a></li>
        <li><a href="">Thiền Tông</a></li>
        <li><a href="">Mật Tông</a></li>
      </ul>

    </li>

    <li><a class="travel" href="">Tin Tức</a></li>

    <li><a class="tech" href="">Từ Thiện</a></li>

    <li class="drop"><a class="fashion" href="">Văn Hóa</a>
      
      <ul class="dropdown">
        <li><a href="">Góp Nhặt Cát Đá</a></li>
        <li><a href="">Văn Học - Nghệ Thuật</a></li>
        <li><a href="">Thư Viện Ảnh</a></li>
        <li><a href="">Thư Viện Video</a></li>
        <li><a href="">Thư viện Nhạc</a></li>
      </ul>

    </li>

    <li><a class="video" href="">GĐPT Linh Quang</a></li>

    <li><a class="sport" href="">Liên Hệ</a></li>

  </ul>

</div>