<section class="ticker-news">

  <div class="container">
    <div class="ticker-news-box">
      <span class="breaking-news">Tin Nóng</span>
      <span class="new-news">Mới</span>
      <ul id="js-news">
        <% Article.get_hot_news.each do |item| %>
        <li class="news-item"><span class="time-news"><%= item.posted_at.strftime("%d/%m/%Y") %></span>  <%= link_to item.title, post_detail_path(category_id: item.article_categories.first.id, category_name: item.article_categories.first.url_friendly, post_id: item.id, post_name: item.url_friendly) %> </li>
        <% end %>
      </ul>
    </div>
  </div>

</section>