<div class="row">
    <div class="col-md-4">
        <select name="category_ids[]" class="select select-item-color" data-placeholder="<%= t(:category_level) %> 1" multiple="multiple">
            
        </select>
    </div>
    <div class="col-md-4">
        <select name="category_ids[]" class="select select-item-color" data-placeholder="<%= t(:category_level) %> 2" multiple="multiple">
            
        </select>
    </div>
    <div class="col-md-4">
        <select name="category_ids[]" class="select select-item-color" data-placeholder="<%= t(:category_level) %> 3" multiple="multiple">
            
        </select>
    </div>
</div>