<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>-------- Original Feedback --------</p>
    <p>
      From: <%= @feedback.email %>
    </p>
    <p>
      Content: <%= @feedback.content.html_safe %>
    </p>
    <p>
      Date: <%= @feedback.created_at.in_time_zone("Asia/Bangkok").strftime("%d/%m/%Y %H:%M") %> (GMT+07:00)
    </p>
  </body>
</html>