<!-- - - - - - - - - - - - - - End of tabs - - - - - - - - - - - - - - - - -->

<section class="section_offset">

    <h3 class="offset_title">Sản phẩm vừa xem</h3>

    <div class="owl_carousel other_products">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <div class="product_item">

            <!-- - - - - - - - - - - - - - Thumbmnail - - - - - - - - - - - - - - - - -->

            <div class="image_wrap">

                <img src="/frontend/images/product_img_6.jpg" alt="">

                <!-- - - - - - - - - - - - - - Product actions - - - - - - - - - - - - - - - - -->

                <div class="actions_wrap">

                    <div class="centered_buttons">

                        <a href="#" class="button_dark_grey middle_btn quick_view" data-modal-url="modals/quick_view.html">Xem nhanh</a>

                        <a href="#" class="button_blue middle_btn add_to_cart">Thêm vào giỏ hàng</a>

                    </div><!--/ .centered_buttons -->

                    <a href="#" class="color_red button_dark_grey middle_btn def_icon_btn add_to_wishlist tooltip_container"><span class="tooltip right">Thêm vào mục yêu thích</span></a>

                    <a href="#" class="color_orange button_dark_grey middle_btn def_icon_btn add_to_compare tooltip_container"><span class="tooltip left">Thêm vào danh sách so sánh</span></a>

                </div><!--/ .actions_wrap-->
                
                <!-- - - - - - - - - - - - - - End of product actions - - - - - - - - - - - - - - - - -->

            </div><!--/. image_wrap-->

            <!-- - - - - - - - - - - - - - End thumbmnail - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Product title & price - - - - - - - - - - - - - - - - -->

            <div class="description">

                <div class="nowrap-ellipsis">

                    <a href="#" title="Adipiscing aliquet sed in lacus, Liqui-gels 24">Adipiscing aliquet sed in lacus, Liqui-gels 24</a>
                
                </div>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><b>$75.39</b></p>

                </div>

            </div>

            <!-- - - - - - - - - - - - - - End of product title & price - - - - - - - - - - - - - - - - -->

        </div><!--/ .product_item-->
        
        <!-- - - - - - - - - - - - - - End product - - - - - - - - - - - - - - - - -->

    </div><!--/ .owl_carousel -->

</section><!--/ .section_offset -->