<!--==================================
		Quick view modal window
======================================-->

<div id="login_mw" class="modal_window">

	<a class="close arcticmodal-close"></a>

	<header class="on_the_sides">

		<div class="left_side">

			<h2>Thêm thành công</h2>

		</div>

	</header><!--/ .on_the_sides-->

	<form class="type_2">

		<ul>

			<li>
				
				<hr/>
			
			</li>

			<li class="v_centered">
				
				<%= link_to "Xem danh sách sản phẩm so sánh", { controller: "product", action: "comparison" }, class: "button_blue middle_btn" %>
			
			</li>

		</ul>

	</form>

</div>

<!--==================================
		End quick view modal window
====================================== -->