<section class="section_offset">

    <h3>Sản phẩm đã xem</h3>

    <ul class="products_list_widget">

        <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

        <li>
            
            <a href="#" class="product_thumb">
                
                <img src="/frontend/images/product_thumb_4.jpg" alt="">

            </a>

            <div class="wrapper">

                <a href="#" class="product_title">Adipiscing aliquet sed in lacus...</a>

                <div class="clearfix product_info">

                    <p class="product_price alignleft"><b>$5.99</b></p>

                    <!-- - - - - - - - - - - - - - Product rating - - - - - - - - - - - - - - - - -->

                    <ul class="rating alignright">

                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>

                    </ul>
                    
                    <!-- - - - - - - - - - - - - - End of product rating - - - - - - - - - - - - - - - - -->

                </div>

            </div>

        </li>

        <!-- - - - - - - - - - - - - - End of product - - - - - - - - - - - - - - - - -->

    </ul><!--/ .list_of_products-->

</section>