<section class="section_offset">

  <h3>Blog Tags</h3>

  <div class="tags_container">

      <ul class="tags_cloud">
          
          <li><a href="#" class="button_grey">allergy</a></li>
          <li><a href="#" class="button_grey">baby</a></li>
          <li><a href="#" class="button_grey">beauty</a></li>
          <li><a href="#" class="button_grey">ear care</a></li>
          <li><a href="#" class="button_grey">for her</a></li>
          <li><a href="#" class="button_grey">for him</a></li>
          <li><a href="#" class="button_grey">first aid</a></li>
          <li><a href="#" class="button_grey">gift sets</a></li>
          <li><a href="#" class="button_grey">spa</a></li>
          <li><a href="#" class="button_grey">hair care</a></li>
          <li><a href="#" class="button_grey">herbs</a></li>
          <li><a href="#" class="button_grey">medicine</a></li>
          <li><a href="#" class="button_grey">natural</a></li>
          <li><a href="#" class="button_grey">oral care</a></li>
          <li><a href="#" class="button_grey">pain</a></li>
          <li><a href="#" class="button_grey">pedicure</a></li>
          <li><a href="#" class="button_grey">personal care</a></li>
          <li><a href="#" class="button_grey">probiotics</a></li>

      </ul><!--/ .tags_cloud-->
      
  </div><!--/ .tags_container-->

</section>