<section class="section_offset">

    <h3>Danh mục bài viết</h3>

    <ul class="theme_menu">

        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Làm đẹp</a></li>
        <li><a href="#">Mẹ và Bé</a></li>
        <li><a href="#">Ăn uống - Sức khoẻ</a></li>
        <li><a href="#">Khuyến mãi</a></li>

    </ul>

</section><!--/ .section_offset -->