<section class="section_offset">

    <h3>Ý kiến thăm dò</h3>

    <div class="theme_box">

        <p class="form_caption_2">Câu hỏi?</p>

        <form id="community_poll" class="type_2">

            <ul>

                <li>

                    <div class="form_el">
                        <input type="radio" name="radio_1" id="radio_1" checked>
                        <label for="radio_1">Ý kiến 1</label>
                    </div>

                </li>

                <li>

                    <div class="form_el">
                        <input type="radio" name="radio_1" id="radio_2">
                        <label for="radio_2">Ý kiến 2</label>
                    </div>

                </li>

                <li>

                    <div class="form_el">
                        <input type="radio" name="radio_1" id="radio_3">
                        <label for="radio_3">Ý kiến 3</label>
                    </div>

                </li>

            </ul>

        </form>

    </div>

    <footer class="bottom_box">

        <button form="community_poll" class="button_blue middle_btn">Bỏ phiếu</button>

    </footer>

</section>