<section class="section_offset">
                            
    <h3>Comments</h3>

    <ol class="comments-list">

        <!-- - - - - - - - - - - - - - Comment (level 1) - - - - - - - - - - - - - - - - -->

        <li class="comment">

            <article>

                <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
            
                <div class="avatar">

                    <img src="/frontend/images/comment_author_photo.jpg" alt="">

                </div>

                <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                <div class="comment-body">

                    <header class="comment-meta">

                        <h6 class="comment-author"><a href="#">John Smith</a></h6>, 2014-08-05

                    </header>

                    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo.</p>

                </div>

                <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

            </article>

            <ol class="children">

                <!-- - - - - - - - - - - - - - Comment (level 2) - - - - - - - - - - - - - - - - -->

                <li class="comment">

                    <article>

                        <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
                    
                        <div class="avatar">

                            <img src="/frontend/images/comment_author_photo.jpg" alt="">

                        </div>

                        <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                        <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                        <div class="comment-body">

                            <header class="comment-meta">

                                <h6 class="comment-author"><a href="#">admin</a></h6>, 2014-08-05

                            </header>

                            <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.</p>

                        </div>

                        <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                        <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

                    </article>

                </li>

                <!-- - - - - - - - - - - - - - End of comment (level 2) - - - - - - - - - - - - - - - - -->

            </ol>

        </li>

        <!-- - - - - - - - - - - - - - End of comment (level 1) - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Comment (level 1) - - - - - - - - - - - - - - - - -->

        <li class="comment">

            <article>

                <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->
            
                <div class="avatar">

                    <img src="/frontend/images/comment_author_photo.jpg" alt="">

                </div>

                <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                <div class="comment-body">

                    <header class="comment-meta">

                        <h6 class="comment-author"><a href="#">John Smith</a></h6>, 2014-08-05

                    </header>

                    <p>Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh.</p>

                </div>

                <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                <a href="#" class="button_grey icon_btn comment-reply-link"><i class="icon-reply-4"></i></a>

            </article>

        </li>

        <!-- - - - - - - - - - - - - - End of comment (level 1) - - - - - - - - - - - - - - - - -->

    </ol>

</section>