<section class="section_offset">

    <h3>Viết bình luận</h3>

    <div class="theme_box">

        <p class="form_caption">(<span class="prompt"></span>) Bắt buộc</p>

        <form class="type_2" id="leave_comment">

            <ul>

                <li class="row">
                    
                    <div class="col-sm-6">

                        <label for="lc_name" class="required">Tên</label>
                        <input type="text" name="" id="lc_name">

                    </div>

                    <div class="col-sm-6">

                        <label for="lc_email" class="required">Địa chỉ e-mail</label>
                        <input type="email" name="" id="lc_email">

                    </div>

                </li>

                <li class="row">

                    <div class="col-xs-12">

                        <label for="lc_url">Website URL</label>
                        <input type="url" name="" id="lc_url">

                    </div>

                </li>

                <li class="row">

                    <div class="col-xs-12">

                        <label for="lc_message">Nội dung</label>
                        <textarea name="" id="lc_message" rows="6"></textarea>

                    </div>

                </li>

            </ul>

        </form>

    </div>

    <footer class="bottom_box">

        <button class="button_dark_grey middle_btn" form="leave_comment" type="submit">Đăng bình luận</button>
        
    </footer>

</section>