<section class="section_offset">
                            
    <h3>Bài viết liên quan</h3>

    <div class="table_layout related_posts">

        <div class="table_row">

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <div class="table_cell">

                <article class="entry">
                    
                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                    <a href="#" class="entry_thumb">

                        <img src="/frontend/images/blog_thumb_4.jpg" alt="">

                    </a>

                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                    <div class="wrapper">

                        <h6 class="entry_title"><a href="#">Lorem ipsum dolor sit amet, consectetuer adipis</a></h6>

                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                        <div class="entry_meta">

                            <span><i class="icon-calendar"></i> 2014-08-05</span>

                            <span><a href="#" class="comments"><i class="icon-comment"></i> 3</a></span>

                        </div><!--/ .byline-->

                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                    </div><!--/ .wrapper-->

                </article><!--/ .clearfix-->

            </div>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <div class="table_cell">

                <article class="entry">
                    
                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                    <a href="#" class="entry_thumb">

                        <img src="/frontend/images/blog_thumb_5.jpg" alt="">

                    </a>

                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                    <div class="wrapper">

                        <h6 class="entry_title"><a href="#">Neque porro quis- quam est, qui</a></h6>

                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                        <div class="entry_meta">

                            <span><i class="icon-calendar"></i> 2014-11-06</span>

                            <span><a href="#" class="comments"><i class="icon-comment"></i> 7</a></span>

                        </div><!--/ .byline-->

                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                    </div><!--/ .wrapper-->

                </article><!--/ .clearfix-->

            </div>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

            <!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

            <div class="table_cell">

                <article class="entry">
                    
                    <!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

                    <a href="#" class="entry_thumb">

                        <img src="/frontend/images/blog_thumb_6.jpg" alt="">

                    </a>

                    <!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

                    <div class="wrapper">

                        <h6 class="entry_title"><a href="#">Mauris fermentum dictum magna</a></h6>

                        <!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

                        <div class="entry_meta">

                            <span><i class="icon-calendar"></i> 2014-03-12</span>

                            <span><a href="#" class="comments"><i class="icon-comment"></i> 4</a></span>

                        </div><!--/ .byline-->

                        <!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

                    </div><!--/ .wrapper-->

                </article><!--/ .clearfix-->

            </div>

            <!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

        </div>

    </div>						

</section>