<section class="block-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">

        <!-- block content -->
        <div class="block-content">

          <!-- contact info box -->
          <div class="contact-info-box">
            <div class="title-section">
              <h1><span>Liên Hệ</span></h1>
            </div>

            <div id="map"></div>
            
          </div>
          <!-- End contact info box -->

          <!-- contact form box -->
          <div class="contact-form-box">
            <div class="title-section">
              <h1><span>GỬI LIÊN HỆ</span></h1>
            </div>
            <%= form_for @contact, html: {id: "contact-form" } do |f| %>
              <div class="row">
                <div class="col-md-4">
                  <label for="name">Họ & Tên *</label>
                  <input id="contact_name" name="contact[name]" type="text" class="required">
                </div>
                <div class="col-md-4">
                  <label for="mail">Điện Thoại *</label>
                  <input id="contact_phone" name="contact[phone]" type="text" class="required">
                </div>
                <div class="col-md-4">
                  <label for="website">Email *</label>
                  <input id="contact_email" name="contact[email]" type="text" class="required email">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label for="name">Đơn Vị</label>
                  <input id="contact_unit" name="contact[unit]" type="text">
                </div>
                <div class="col-md-6">
                  <label for="mail">Địa Chỉ</label>
                  <input id="contact_address" name="contact[address]" type="text">
                </div>
              </div>
              <label for="contact_message">Lời Nhắn *</label>
              <textarea id="contact_message" name="contact[message]" class="required"></textarea>
              <button type="submit">
                <i class="fa fa-paper-plane"></i> Gửi Liên Hệ
              </button>
            <% end %>
          </div>
          <!-- End contact form box -->

        </div>
        <!-- End block content -->

      </div>

      <div class="col-sm-4">

        <!-- right contact sidebar -->
        <%= render "/modules/post_detail_sidebar" %>
        <!-- End right sidebar -->

      </div>

    </div>

  </div>
</section>