<!-- site preloader start -->
<div class="page-loader">
    <div class="loader-in"></div>
</div>
<!-- site preloader end -->

<div class="pageWrapper">

    <!-- Header Start -->
    <%= render "/home/header" %>
    <!-- Header End -->
    
    <!-- Content Start -->
    <div id="contentWrapper">
        <div class="page-title title-1">
            <div class="container">
                <div class="row">
                    <div class="cell-12">
                        <h1 class="fx" data-animate="fadeInLeft">BÁO LỖI - <span>GÓP Ý</span></h1>
                        <div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
                            <%= link_to "Trang Chủ", root_path %><span class="line-separate">/</span><span>Báo Lỗi - Góp Ý</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="sectionWrapper">
            <div class="container">
                <div class="cell-5 fx" data-animate="fadeInLeft">
                    <div class="row">
                        <div class="block fx" data-animate="fadeInLeft">
                            
                            <h3 class="block-head">Mục đích</h3>
                            
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, dapibus ac augue ut, porttitor viverra dui.
                            Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, apibus ac augue ut, porttitor viverra dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            
                            <ul class="list prim list-ok">
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque</li>
                                <li>Suspendisse hendrerit id lacus id lobortis vestibulum quam elit</li>
                                <li>Fusce scelerisque pellentesqu suspendisse elementum adipiscing</li>
                                <li>Feugiat sodales pretium massa euismod tempus suspendisse hendrerit</li>
                                <li>Feugiat sodales pretium massa euismod tempus suspendisse hendrerit</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="cell-1"></div>
                
                <div class="cell-6 fx" data-animate="fadeInRight">
                    <h3 class="block-head">Nhập Nội Dung</h3>
                    <div class="contact-form">
                        <form action="#" id="hire_form">
                            <div class="form-input">
                                <label>Họ tên người gửi<span class="red">*</span></label>
                                <input type="text" required>
                            </div>
                            <div class="form-input">
                                <label>Địa chỉ email<span class="red">*</span></label>
                                <input type="text" required>
                            </div>
                            <div class="form-input">
                                <label>Nội dung<span class="red">*</span></label>
                                <textarea required></textarea>
                            </div>
                            <div class="form-input">
                                <label>Chọn hình ảnh cần gửi: </label>
                                <input type="file">
                            </div>
                            <div>
                                <input type="submit" class="btn btn-large main-bg" value="Gửi">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    <!-- Content End -->
    
    <!-- Footer start -->
    <%= render "/home/footer" %>
    <!-- Footer end -->
    
    <!-- Back to top Link -->
    <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
    
</div>


<%= render "/home/js_files" %>