<!doctype html>
<html lang="en">
	<head>
		<!-- Basic page needs
		============================================ -->
		<title>ShopMe | <%= @title_head %></title>
		<meta charset="utf-8">
		<meta name="author" content="">
		<meta name="description" content="">
		<meta name="keywords" content="">

		<!-- Mobile specific metas
		============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Favicon
		============================================ -->
		<link rel="shortcut icon" type="image/x-icon" href="/frontend/images/fav_icon.ico">

		<!-- Google web fonts
		============================================ -->
		<link href='' rel='stylesheet' type='text/css'>

		<!-- Libs CSS
		============================================ -->
		<link rel="stylesheet" href="/frontend/css/animate.css">
		<link rel="stylesheet" href="/frontend/css/fontello.css">
		<link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
		
		<!-- Theme CSS
		============================================ -->
		<link rel="stylesheet" href="/frontend/js/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="/frontend/js/owlcarousel/owl.carousel.css">
		<link rel="stylesheet" href="/frontend/js/arcticmodal/jquery.arcticmodal.css">
		<link rel="stylesheet" href="/frontend/css/style.css">

		<!-- JS Libs
		============================================ -->
		<script src="/frontend/js/modernizr.js"></script>

		<!-- Old IE stylesheet
		============================================ -->
		<!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="/frontend/css/oldie.css">
		<![endif]-->
	</head>
	<%= yield %>
</html>