<div id="comming-soon-content">
  <div class="container">
    <h1 style="color: #fff; font-size: 50px;">WEBSITE CHÙA LINH QUANG</h1>

    <div id="clock">
      <div class="comming-part">
        <span id="days"></span>
        <p style="color: #fff;">Ngày</p>
      </div>
      <div class="comming-part">
        <span id="hours"></span>
        <p style="color: #fff;">Giờ</p>
      </div>
      <div class="comming-part">
        <span id="minutes"></span>
        <p style="color: #fff;">Phút</p>
      </div>
      <div class="comming-part">
        <span id="seconds"></span>
        <p style="color: #fff;">Giây</p>
      </div>				
    </div>

    <form class="subscribe">
      <p style="font-size: 30px;">WEBSITE CHÙA LINH QUANG ĐANG TRONG QUÁ TRÌNH NÂNG CẤP<br><br> QUÝ PHẬT TỬ VUI LÒNG GHÉ LẠI SAU KHI WEBSITE NÂNG CẤP XONG</p>
    </form>

  </div>
  
</div>